<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Крестики-нолики</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать в игру Крестики-нолики!</h1>
    <img src="/images/welcome.png" alt="Welcome" style="max-width: 300px; display: block; margin: 20px auto;">
    <button style="font-size:2em;padding:20px 40px;margin:40px auto;display:block;" onclick="window.location.href='/ui/auth'">
        Авторизация
    </button>
</div>
</body>
</html>